<!DOCTYPE html>
<html ng-app="costCalculatorApp">
<head>
    <title>Cost Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-controller="CostCalculatorController">
        <label>Quantity:</label>
        <input type="number" ng-model="quantity">
        <br>
        <label>Price per unit:</label>
        <input type="number" ng-model="price">
        <br>
        <button ng-click="calculateTotal()">Calculate Total Cost</button>
        <br>
        <label>Total Cost:</label>
        <input type="text" ng-model="totalCost" readonly>
    </div>

    <script>
        angular.module('costCalculatorApp', [])
            .controller('CostCalculatorController', ['$scope', function($scope) {
                $scope.calculateTotal = function() {
                    if ($scope.quantity && $scope.price) {
                        $scope.totalCost = $scope.quantity * $scope.price;
                    } else {
                        $scope.totalCost = 0;
                    }
                };
            }]);
    </script>
</body>
</html>
