<!DOCTYPE html>
<html ng-app="searchApp">

<head>
    <title>Search Filter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('searchApp', [])
            .controller('SearchController', function($scope) {
                $scope.items = [
                    'Apple',
                    'Banana',
                    'Orange',
                    'Mango',
                    'Pineapple',
                    'Grapes'
                ];
            });
    </script>
</head>

<body>
    <div ng-controller="SearchController">
        <input type="text" ng-model="searchQuery" placeholder="Search...">
        <ul>
            <li ng-repeat="item in items | filter:searchQuery">{{item}}</li>
        </ul>
    </div>
</body>

</html>
